body{
    margin: 0;
    padding: 2.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(87, 78, 89)
}
div, label, select{
    display: block;
    margin-bottom: 1em;
}

.gender > label{
    display: inline-block;
}

fieldset > div > label, input{
    display: inline-block;
}

button{
    width: 10em;
    border-radius: 10px;
    font-size: 1em;
}

button:hover {
    box-shadow: 0 1em 1em 0 rgba(147, 110, 161, 0.3), 0 25px 75px 0 rgba(189, 174, 197, 0.3);
}

a{
    text-decoration: none;
    color: rgb(59, 2, 68);
    font-size: 1.2em;
    border: 3px solid rgb(59, 2, 68);
    border-radius: 5px;
    padding: 5px;
}